@keyframes modal {
    0% {
        transform: rotate(-10deg)
    }

    50% {
        transform: rotate(10deg)
    }

    100% {
        transform: rotate(-10deg)
    }
}

.modal {
    position: fixed;
    width: 200px;
    top: 30%;
    left: calc(50% - 100px);
    font-size: 25px;
    color: black;
    font-weight: bold;
    animation: modal 1s infinite;
}
