.cards {
    display: flex;
    margin-bottom: 30px;
}

.cards__card {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform .3s;
}

.cards__card--active {
    transform: scale(1.3)
}
